# editor files
.idea
.vscode

# app config and state
config.py
Makefile.appconfig

# app runtime
__pycache__/
.venv/
frontend/node_modules/
static/js/

# app runtime state
app.pid
pshuu.db
thumbs/
uploads/
uwsgi.log