# Flask secret key for session support.
# This is also the key used to generate the file key used in URLs.
# Changing this will invalidate any delete URLs generated, but file URLs will
# continue to be valid.
SECRET_KEY = 'your secret key'

# Database configuration dict, passed to peewee.
DATABASE = {
    'name': 'pshuu.db',
    'engine': 'SqliteDatabase'
}

# Directory where uploads go.
UPLOAD_DIRECTORY = 'uploads'

# Whether or not Flask is behind a HTTP proxy.
# Affects whether or not we insert proxy middleware.
FLASK_PROXY = False

# Debug options you shouldn't touch
DEBUG_PROFILER = False
DEBUG = False

# Whether or not to pretty-print all JSON output.
# (By default only X-Requested-With: XMLHttpRequest suppresses pretty-printing.)
JSONIFY_PRETTYPRINT_REGULAR = False